<!DOCTYPE html>
<html>
  <style>
    body 
      {
        background: #63CAA7;
      }
  </style>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
    <link href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/quasar@2.7.4/dist/quasar.prod.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="q-app">
      <div class="q-pa-md row justify-center text-center items-start q-gutter-md">
        <div class="col-5">
          <q-card class="my-card">
            <q-card-section>
              <div class="text-h5 q-pa-md">
                !Registra una Cryptomoneda!
              </div>
              <q-form
              @submit="sendForm"
              @reset="onReset"
              class="q-gutter-md">
                <q-input
                  Outlined
                  v-model="name"
                  :hint= this.name
                  mask="Aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
                  label="Inserta un nombre"
                  lazy-rules
                  :rules="[
                    val => val !== null && val !=='' || 'Rellena el campo',
                    val => val.length > 3 || 'Introduce minimo 4 Caracteres'
                  ]"
                  ></q-input>
                <q-input
                  Outlined
                  type="text"
                  v-model="symbol"
                  mask="AAAA"
                  :hint= this.symbol
                  label="Inserta un simbolo"
                  lazy-rules
                  :rules="[ 
                    val => val !== null && val !== '' || 'Rellena el campo',
                  ]"
                ></q-input>
                <q-input
                  Outlined
                  type="number"
                  v-model="value"
                  :hint= this.value
                  label="Inserta un precio"
                  :rules="[
                    val => val !== null && val !== '' || 'Rellena el campo',
                    val => val > 0 && val < 1e8 || 'Introduce un valor real'
                  ]"
                ></q-input>
                <q-file 
                Filled
                bottom-slots 
                v-model="image" 
                bg-color="blue-2" 
                label="Inserta una imagen"
                accept="image/jpeg,.png,.svg"
                :rules="[val => val !==null && val !== ''|| 'Inserta una imagen']"
                @rejected="onRejected"
                counter>
                  <template v-slot:prepend>
                    <q-icon name="cloud_upload" @click.stop />
                  </template>
                  <template v-slot:append>
                    <q-icon name="close" @click.stop="image = null" class="cursor-pointer" />
                  </template>
                  <template v-slot:hint>
                    file size
                  </template>
                </q-file>
                <div class="q-pa-md">
                  <q-btn push color="green-5" type="submit" icon="cloud_upload" text-color="white" label="Registrar"></q-btn>
                  <q-btn push color="blue-5" icon="refresh" class="q-ml-sm" type="reset" text-color="white" label="Resetear" v-close-popup></q-btn>
                </div>
              </q-form>
            </q-card-section>
          </q-card>
        </div>
        <div class="col-6">
        <q-card class="my-card">
          <q-card-section>
            <div class="q-pa-md">
              <q-table
                title="Cryptomonedas"
                  :rows="cryptosDataFiltered"
                  :columns="columns"
                  >
                  <template v-slot:top-left>
                    <div class="text-h6">
                      Cryptomonedas
                      <q-btn dense flat icon="info" color="grey-8" color="grey-8" @click="getCryptosImfo"></q-btn>
                    </div> 
                    
                  </template>
                  <template v-slot:top-right="props">
                    <q-input
                      filled
                      dense
                      debounce="300"
                      v-model="filter"
                      placeholder="Buscar Cryptomoneda"
                      bg-color="blue-1"
                    >
                      <template v-slot:append>
                        <q-icon name="search" />
                      </template>
                      <template v-slot:before>
                        <q-btn dense icon="refresh" color="blue-5" type="submit" color="grey-8" @click="resetFilter"></q-btn>
                      </template>
                    </q-input>
                  </template>
                <template v-slot:body="props">
                  <q-tr key="" :props="props">
                    <q-td key="name" :props="props">
                      {{ props.row.name }}
                    </q-td>
                    <q-td key="symbol" :props="props">
                      {{ props.row.symbol }}
                    </q-td>
                    <q-td key="value" :props="props">
                      <q-badge color="green">
                        {{ props.row.value }}
                      </q-badge>
                    </q-td>
                      <q-td key="logotype" :props="props">
                        <q-avatar size="100px" class="shadow-5">
                          <img :src="props.row.logotype">
                        </q-avatar>      
                      </q-td>
                      <q-td key="actions" :props="props">
                        <q-btn dense flat color="blue-5" icon="edit" @click="updateSendForm(props.row.name, props.row.symbol, props.row.value, props.row.logotype, props.row._id, props.row.mediaId)"></q-btn>
                        <q-btn dense flat color="red-5" icon="delete" v-on:click="confirmDeleteCrypto(props.row._id, props.row.mediaId, props.row.name, props.row.logotype)"></q-btn>
                        <q-btn dense flat icon="info" color="grey-8" @click="getImfo(props.row)"></q-btn>
                        <q-dialog v-model="promptEdit" persistent>
                          <q-card style="min-width: 700px">
                            <q-card-section>
                              <div class="text-h6">Actualizar Cryptomoneda <strong>{{cryptoNameToUpdate}}</strong></div>
                            </q-card-section>
                            <q-card-section class="q-pt-none">
                              <q-form
                              v-on:submit="(event) => sendFormUpdate(this.imageCryptoId, this.cryptoId, event)"
                              @validation-error="errorFormMessage" 
                              class="q-gutter-md">
                                <q-input
                                  Outlined
                                  v-model="updateName"
                                  label="Inserta un nombre"
                                  lazy-rules
                                  mask="Aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
                                  :rules="[
                                    val => val !== null && val !=='' || 'Rellena el campo',
                                    val => val.length > 3 || 'Introduce minimo 4 Caracteres'
                                  ]"
                                  :hint= "this.updateName"
                                ></q-input>
                                <q-input
                                  Outlined
                                  type="text"
                                  v-model="updateSymbol"
                                  label="Inserta un simbolo"
                                  lazy-rules
                                  :rules="[ 
                                    val => val !== null && val !== '' || 'Rellena el campo'
                                    ]"
                                  :hint= this.updateSymbol
                                  mask="AAAA"
                                ></q-input>
                                <q-input
                                  Outlined
                                  type="number"
                                  v-model="updateValue"
                                  label="Inserta un precio"
                                  :rules="[
                                    val => val !== null && val !== '' || 'Rellena el campo',
                                    val => val > 0 && val < 1e8 || 'Introduce un valor real'
                                  ]"
                                  :hint="this.updateValue"
                                ></q-input>
                                <q-file Filled
                                  bottom-slots
                                  v-model="updateImage" 
                                  bg-color="blue-2" 
                                  label="Inserta una imagen"
                                  accept="image/jpeg,.png,.svg"
                                  :rules="[val => val !==null && val !== ''|| 'Inserta una imagen']"
                                  @rejected="onRejected"
                                  counter>
                                  <template v-slot:prepend>
                                    <q-icon name="cloud_upload" @click.stop />
                                  </template>
                                  <template v-slot:append>
                                    <q-icon name="close" @click.stop="updateImage = null" class="cursor-pointer" />
                                  </template>
                                  <template v-slot:hint>
                                    File size
                                  </template>
                                  <template v-slot:after>
                                    <img :src="logotypeUpdateForm" width="70" height="70" >
                                  </template>
                                </q-file>
                                <div>
                                  <q-btn pust color ="red" icon="close" text-color="white" v-on:click="cancel" label="Cancelar" v-close-popup></q-btn>
                                  <q-btn push color="blue-5" icon="cloud_upload" class="q-ml-sm" type="submit" text-color="white" label="Actualizar" v-close-popup></q-btn>
                                </div>
                              </q-form>
                            </q-card-section>
                          </q-card>
                        </q-dialog>
                        <q-dialog v-model="promptDelete" persistent>
                          <q-card style="min-width: 400px">
                            <q-card-section align="center">
                              <div class="text-h5 text-center">¡Estas por eliminar la Cryptomoneda <strong>{{cryptoNameToDelete}}</strong>!</div>
                              <div class="q-pa-md">
                                <q-avatar size="150px" class="shadow-10">
                                  <img :src="logotypeCryptoToDelete">
                                </q-avatar>
                              </div>
                              <div class="text-h5 text-center q-pa-md"><strong>¿Estas seguro?</strong></div>
                            </q-card-section>         
                            <q-card-actions align="center" class="text-primary">
                              <div>
                                <q-btn pust color="green-5" icon="close" text-color="white" label="No, Cancelar" v-close-popup />
                              </div>
                              <div class="q-pa-md">
                                <q-btn push color="red-5" icon="delete" v-on:click="deleteCrypto(this.cryptoIdToDelete, this.cryptoMediaIdToDelete)" text-color="white" label="Si, Eliminar" v-close-popup></q-btn>
                              </div>
                            </q-card-actions>
                          </q-card>
                        </q-dialog>
                        <q-dialog v-model="promptFailedUpdate" persistent>
                          <q-card style="min-width: 400px">
                            <q-card-section align="center">
                              <div class="text-h5 text-center">Parece que algo salio mal al intentar actualizar la Cryptomoneda <strong>{{cryptoNameToUpdate}}</strong>... :(</div>
                              <div class="q-pa-md">
                                <q-avatar size="150px">
                                  <img :src="errorImage">
                                </q-avatar>
                              </div>
                              <div class="text-h5 text-center q-pa-md"><strong>¿Porque ocurre este error?</strong></div>
                              <div class="text-center q-pa-md"><strong>Cuando envies el formulario de actualización, asegurate de llenar todos los campos correctamente, probablemente no hayas insertado una imagen,
                                si quieres conservar la misma imagen, seleciona el logotipo de la cryptomoneda a actualizar que se encuentra al lado del campo de "Inserta una imagen" y arrastrala a la entrada
                              </strong></div>
                              <q-card-actions align="center" class="text-primary q-pa-md">
                                <q-btn pust color="blue-5" icon="check" text-color="white" label="Ok, entendido" v-close-popup />
                            </q-card-actions>
                            </q-card-section>         
                          </q-card>
                        </q-dialog>
                        <q-dialog v-model="promptGetImfo" persistent>
                          <q-card style="min-width: 400px">
                            <q-card-section align="center">
                              <div class="text-h5 text-center q-pa-md"><strong>Objeto de la Cryptomoneda {{this.cryptoToImfo}}</strong></div>
                              <div class="text-center q-pa-md"><strong>
                                {{objectCrypto}}
                              </strong></div>
                              <q-card-actions align="center" class="text-primary q-pa-md">
                                <q-btn pust color="blue-5" icon="close" text-color="white" label="Cerrar" v-close-popup />
                            </q-card-actions>
                            </q-card-section>         
                          </q-card>
                        </q-dialog>
                        <q-dialog v-model="promptGetCryptosImfo" persistent>
                          <q-card style="min-width: 400px">
                            <q-card-section align="center">
                              <div class="text-h5 text-center q-pa-md"><strong>Data del arreglo con los Objetos de las Cryptomonedas</strong></div>
                              <div class="text-center q-pa-md"><strong>
                                {{cryptosData}}
                              </strong></div>
                              <q-card-actions align="center" class="text-primary q-pa-md">
                                <q-btn pust color="blue-5" icon="close" text-color="white" label="Cerrar" v-close-popup />
                            </q-card-actions>
                            </q-card-section>         
                          </q-card>
                        </q-dialog>
                      </q-td>
                    </q-tr>
                  </template>
                </q-table>
              </div>
              <div class="q-pa-md">
                <q-btn push color="blue-5" icon="refresh" type="button" v-on:click="getCryptos" text-color="white" label="Refrescar"></q-btn>
              </div>
            </q-card-section>
          </q-card>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quasar@2.7.4/dist/quasar.umd.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quasar@2.7.4/dist/lang/es.umd.prod.js"></script>
    <script>
      const columns = [
        {
          name: 'name',
          required: true,
          label: 'Nombre',
          align: 'left',
          field: row => row.name,
          format: val => `${val}`,
          sortable: true
        },
        {
          name: 'symbol',
          required: true,
          label: 'Simbolo',
          align: 'left',
          field: row => row.symbol,
          format: val => `${val}`,
          sortable: true
        },
        { name: 'value', align: 'left', label: 'Valor', field: 'value', sortable: true },
        { name: 'logotype', label: 'Logotipo', align: 'center', field: 'logotype', sortable: false },
        { name: 'actions', label: 'Acciones', align: 'center', sortable: false }
      ]
    </script>
    <script>
      const app = Vue.createApp({
        data () {
            return {
              cryptosDataFiltered:[],
              filterText: '',  
              cryptosData: [],
              columns,
              image: '',     
              name: '',
              symbol: '',
              value: '',
              mediaId:'',
              logotype:'',
              updateName: '',
              updateSymbol: '',
              updateValue: '',
              updateImage: '',
              updateLogotype: '',
              logotypeUpdateForm: '',
              cryptoNameToUpdate:'',
              imageCryptoId: '',
              cryptoId: '',
              cryptoNameToDelete: '',
              logotypeCryptoToDelete:'',
              cryptoIdToDelete:'',
              cryptoMediaIdToDelete:'',
              objectCrypto:'',
              cryptoToImfo:'',
              errorImage: "https://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/sign-error-icon.png",
              promptEdit: false,
              promptDelete: false,
              promptFailedUpdate:false,
              promptGetImfo: false,
              promptGetCryptosImfo: false
            }
        },
        created(){
          this.getCryptos()
        },
        methods: {
          getCryptos()
            {
               fetch('https://crud-express-mongodb-quassar.herokuapp.com/crypto')
               .then(response => response.json())
               .then(cryptoData => {
                 this.cryptosData = cryptoData.data
                 this.cryptosDataFiltered = this.cryptosData
               })
            },
          getCryptosImfo()
            {
              this.promptGetCryptosImfo = true
            },
          getImfo(cryptoObject)
            {
              this.cryptoToImfo = cryptoObject.name
              this.objectCrypto = cryptoObject
              this.promptGetImfo = true
            },
          onUpdateReset(event)
            {
              console.log(event)
              this.updateName = null
              this.updateValue = null
              this.updateSymbol = null
              this.updateImage = null
              this.filterText = null 
              event.target.reset()
              this.getCryptos()
            },
          onReset(e)
            {
              this.name = null
              this.value = null
              this.symbol = null
              this.image = null
              e.target.reset()
              this.getCryptos()
            },
          sendForm(e)
            {
              e.preventDefault()
              const formData = new FormData()
              formData.append('myfile', this.image)
              this.createImage(formData, e)
            },
          createImage(formData, e)
            {
              fetch('https://crud-express-mongodb-quassar.herokuapp.com/images', {
                method: 'POST',
                body: formData
              })
               .then(response => response.json())
               .then(data => {
                 this.mediaId = data.data._id
                 this.logotype = data.data.url
                 this.createCrypto(e)
               }) 
            },
          createCrypto(e)
            {
              fetch('https://crud-express-mongodb-quassar.herokuapp.com/crypto', {
                method: 'POST',
                  body: JSON.stringify({
                      name: this.name,
                      symbol: this.symbol,
                      value: this.value,
                      mediaId: this.mediaId,
                      logotype: this.logotype
                    }),
                  headers:{
                    'Content-Type': 'application/json'
                    }
              })
              .then(response => response.json())
              .then(finalyze => {
                this.onReset(e)
              })
            },
          confirmDeleteCrypto(id, mediaId, cryptoNameToDelete, logotypeCryptoToDelete,)
            {
              this.logotypeCryptoToDelete = logotypeCryptoToDelete
              this.cryptoNameToDelete = cryptoNameToDelete
              this.promptDelete = true
              this.cryptoIdToDelete =  id
              this.cryptoMediaIdToDelete = mediaId
            },
          deleteCrypto(id, mediaId)
            {
              this.filterText = null
              fetch('https://crud-express-mongodb-quassar.herokuapp.com/images/' + mediaId)
               .then(response => response.json())
               .then(data => {
                this.deleteImage(data.data._id)
               })
              fetch('https://crud-express-mongodb-quassar.herokuapp.com/crypto/' + id, {
              method: 'DELETE',
              headers: {
                'Accept': 'application/json',
                'Content-type': 'application/json'
              }
              })
              .then(res => res.json())
              .then(data => {
              })
            },
          deleteImage(id)
              {
                fetch('https://crud-express-mongodb-quassar.herokuapp.com/images/' + id, {
              method: 'DELETE',
              headers: {
                'Accept': 'application/json',
                'Content-type': 'application/json'
              }
              })
              .then(res => res.json())
              .then(data => {
              this.getCryptos();
              })
              },
            updateSendForm(nameToUpdate, symbolToUpdate, valueToUpdate, logotypeToUpdate, id, mediaId){
              this.cryptoNameToUpdate = nameToUpdate
              this.updateName = nameToUpdate
              this.updateSymbol = symbolToUpdate
              this.updateValue = valueToUpdate
              this.logotypeUpdateForm = logotypeToUpdate
              this.imageCryptoId =  mediaId
              this.cryptoId = id
              this.promptEdit = true
            },
            sendFormUpdate(mediaId, id, event)
              {
                event.preventDefault()
                const formData = new FormData()
                formData.append('myfile', this.updateImage)
                this.updateImageCrypto(formData, mediaId, id, event)
              },
            updateImageCrypto(formData, mediaId, id, event)
              {
               fetch('https://crud-express-mongodb-quassar.herokuapp.com/images/' + mediaId, {
                method: 'PUT',
                body: formData
               })
               .then(response => response.json())
               .then(imageResults => {
                this.updateCrypto(id, imageResults, event)
               })
              },
            updateCrypto(id, imageResults, event)
              {
                fetch('https://crud-express-mongodb-quassar.herokuapp.com/crypto/' + id, {
                  method: 'PUT',
                    body: JSON.stringify({
                      name: this.updateName,
                      symbol: this.updateSymbol,
                      value: this.updateValue,
                      mediaId: imageResults.fileData.identificador,
                      logotype: imageResults.fileData.url
                    }),
                  headers:{
                    'Content-Type': 'application/json'
                  }
                })
                .then(response => response.json())
                .then(resultUpdate => {
                this.onUpdateReset(event)
                })
              },
            resetFilter()
              {
                this.filterText = ''
                this.getCryptos()
              },
            cancel()
              {
                this.updateImage = null
              },
            errorFormMessage()
              {
                this.promptFailedUpdate = true
              }
        },
        computed:{
          filter:{
            get()
              {
                return this.filterText
              },
            set(InputFilteredValue)
              {
                InputFilteredValue = InputFilteredValue.toLowerCase()
                this.cryptosDataFiltered = this.cryptosData.filter(
                crypto => crypto.name.toLowerCase().indexOf(InputFilteredValue) !== -1
                )
                this.filterText = InputFilteredValue
              }
          }
        }
      })
      app.use(Quasar, {
        config: {
        }
      })
      Quasar.lang.set(Quasar.lang.es)
      app.mount('#q-app')
    </script>
  </body>
</html>
